.multiselect {
   width: 250px;
   position: relative;
}

.selectBox {
   position: relative;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: #fff;
   cursor: pointer;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.selectBox select {
   width: 100%;
   padding: 10px;
   border: none;
   background: transparent;
   appearance: none;
   font-size: 1em;
   cursor: pointer;
   color: #333;
}

.selectBox::after {
   content: "\25BC"; /* Downward arrow */
   font-size: 0.9em;
   color: #777;
   position: absolute;
   right: 10px;
}

#checkboxes {
   display: none;
   border: 1px solid #ddd;
   padding: 10px;
   background-color: #fff;
   position: absolute;
   z-index: 1;
   width: 100%;
   max-height: 200px;
   overflow-y: auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}

#checkboxes label {
   display: flex;
   align-items: center;
   padding: 8px;
   font-size: 0.9em;
   color: #333;
   cursor: pointer;
   border-radius: 3px;
}

#checkboxes label:hover {
   background-color: #f0f0f0;
}

#checkboxes input {
   margin-right: 10px;
   transform: scale(1.2);
   cursor: pointer;
}

.subtask-container {
   width: 220px;
   position: relative;
}

#add-subtask {
   align-items: center;
   position: absolute;
   right: 50px;
}

#add-subtask:hover {
   cursor: pointer;
   background-color: lightgray;
}

.button-group {
   display: flex;
   gap: 10px;
}

input[type="radio"] {
   display: none;
}

.button-label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 136px;
   padding: 16px 10px 16px 10px;
   gap: 8px;
   border-radius: 10px;
   background-color: white;
   color: black;
   cursor: pointer;
   transition: background-color 0.1s;
   font-size: 21px;
   line-height: 25.2px;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked + .button-label.urgent {
   background-color: #ff3d00;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:checked + .button-label.urgent img {
   content: url("/assets/img/desktop/prio_urgent_white.svg");
}

input[type="radio"]:checked + .button-label.low img {
   content: url("/assets/img/desktop/prio_urgent_white.svg");
}

input[type="radio"]:checked + .button-label.medium img {
   content: url("/assets/img/desktop/prio_urgent_white.svg");
}

input[type="radio"]:checked + .button-label.medium {
   background-color: #ffc107;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:checked + .button-label.low {
   background-color: #4caf50;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:hover:not(:checked) + .button-label {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}


textarea {
  resize: none;
  width: 440px;
  height: 120px;
}

.add-task-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 160px;
}

.add-task-left {
  width: 440px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.add-task-right {
  width: 440px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

