.multiselect {
   position: relative;
   width: 100%;
}

.selectBox {
   position: relative;
   border: 1px solid #ccc;
   border-radius: 10px;
   background-color: #fff;
   cursor: pointer;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.selectBox select {
   width: 100%;
   padding: 10px;
   border: none;
   background: transparent;
   appearance: none;
   cursor: pointer;
   color: #333;
}

.selectBox::after {
   content: url("/assets/img/desktop/assign_to_arrow.svg"); /* Downward arrow */
   color: #2a3647;
   position: absolute;
   right: 20px;
}

#checkboxes {
   display: none;
   border: 1px solid #ddd;
   padding: 10px;
   background-color: #fff;
   position: absolute;
   z-index: 1;
   width: 100%;
   max-height: 200px;
   overflow-y: auto;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}

#checkboxes label {
   display: flex;
   align-items: center;
   padding: 8px;
   font-size: 0.9em;
   color: #333;
   cursor: pointer;
   border-radius: 3px;
}

#checkboxes label:hover {
   background-color: #f0f0f0;
}

#checkboxes input {
   margin-right: 10px;
   transform: scale(1.2);
   cursor: pointer;
}

.subtask-container {
   position: relative;
   width: 440px;
}

#add-subtask {
   all: unset;
   position: absolute;
   top: 2em;
   right: 16px;
}

#add-subtask:hover {
   cursor: pointer;
}

.subtask-container input {
   width: 396px;
   padding: 12px 21px 12px 21px;
   gap: 10px;
   border-radius: 10px;
   border: 1px solid #d1d1d1;
   opacity: 0px;
}


.button-group {
   display: flex;
   gap: 10px;
}

input[type="radio"] {
   display: none;
}

.button-label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 136px;
   padding: 16px 10px 16px 10px;
   gap: 8px;
   border-radius: 10px;
   background-color: white;
   color: black;
   cursor: pointer;
   transition: background-color 0.1s;
   font-size: 21px;
   line-height: 25.2px;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked + .button-label.urgent {
   background-color: #ff3d00;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:checked + .button-label.urgent img {
   content: url("/assets/img/desktop/prio_urgent_white.svg");
}

input[type="radio"]:checked + .button-label.low img {
   content: url("/assets/img/desktop/prio_low_white.svg");
}

input[type="radio"]:checked + .button-label.medium img {
   content: url("/assets/img/desktop/prio_medium_white.svg");
}

input[type="radio"]:checked + .button-label.medium {
   background-color: #ffc107;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:checked + .button-label.low {
   background-color: #4caf50;
   color: #ffffff;
   font-weight: 700;
   box-shadow: none;
}

input[type="radio"]:hover:not(:checked) + .button-label {
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

textarea {
   resize: none;
   width: 396px;
   height: 120px;
}

.add-task-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 40px;
}

.add-task-left {
   width: 440px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.add-task-right {
   width: 440px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}
.vertical-line {
   border-left: 1px solid #d1d1d1;
   height: 424px;
}

.label-input-con {
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;
}

.label-input-con input,
textarea {
   padding: 12px 21px 12px 21px;
   gap: 10px;
   border-radius: 10px;
   border: 1px solid #d1d1d1;
   opacity: 0px;
}

.required-asterisk {
   color: #ff8190;
}

.required-text {
   font-size: 12px;
   color: #FF8190;
}

.d-none {
   display: none;
}

.button-con {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   height: 100px;
   align-items: center;
   gap: 16px;
}

.button-con button {
      box-sizing: border-box;
   font-size: 21px;
   background-color: #2A3647;
   color: white;
   font-weight: 700;
   cursor: pointer;
   border: none;
   padding: 16px;
   gap: 4px;
   border-radius: 10px;
}

.button-con button:hover {
   background-color: #29ABE2;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-con button:active {
   background-color: #091931;
}

#clear-button {
   border-radius: 10px;
   font-weight: 400;
   border: 1px solid #2A3647;
   background-color: white;
   color: black;
}

#clear-button:hover {
   border: 2px solid #29ABE2;
   color: #29ABE2;
}

#clear-button:active {
   border: 1px solid #091931;
   color: #091931;
}

#clear-button:hover>img {
   content: url('/assets/img/desktop/clear-task-icon-blue.svg');
}

#clear-button:active>img {
   content: url('/assets/img/desktop/clear-task-icon-black.svg');
}


