body {
   display: flex;
   flex-direction: row;
   overflow: hidden;
   margin: auto;
   height: 100vh;
   max-height: 1024px;
   max-width: 1440px;
   background-color: rgba(246, 247, 248, 1);
}

a {
   color: white;
   text-decoration: none;
}

.contact {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 16px;
   margin: 16px;
}

.nameAndMail {
   display: flex;
   flex-direction: column;
}

.rightSide {
   display: flex;
   flex-direction: column;
   width: 569px;
   position: fixed;
   top: 64px;
   margin-left: 511px;
   align-items: center;
   
}

.heading {
   display: flex;
   align-items: center;
   gap: 16px;
   height: 73px;
   margin-top: 110px;
   margin-left: 55px;
}

.heading h1 {
   margin: 0;
   margin-block: 0;
   font-size: 61px;
   font-weight: 700;
}

.heading div {
   border-right: 3px solid rgba(41, 171, 226, 1);
   height: 59px;  
}

.heading span {
   font-size: 27px;
   font-weight: 400;
   height: 32px;
   width: 235px;
}

.name {
   display: flex;
   flex-direction: row;
}

.fullName {
   display: flex;
   flex-direction: column;
   margin-left: 16px;
}

.buttons {
   display: flex;
}

.displayNone {
   display: none;
}

.overflowHidden {
   overflow: hidden;
}

.dialogBackground {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 500;
}

.addContact {
   background-color: grey;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50vw;
   height: 50vh;
}

.contactBook {
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 928px;
   background-color: rgba(255, 255, 255, 1);
   padding: 32px 24px;
   overflow-y: scroll;
}

.contactsOverview {
   
}

.groupLetter {
   height: 58px;
   padding: 17px 36px;
   gap: 8px;
   display: flex;
   align-items: center;
}

header {
   position: absolute;
   top: 0;
   display: flex;
   width: 100%;
   max-width: 1440px;
   height: 96px;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
   background-color:rgba(255, 255, 255, 1);
   ;
}

header span {
   padding-left: 348px;
   font-size: 20px;
   font-weight: 400;
}

.headerHelpUser {
   display: flex;
   padding-right: 40px;
}

.helparea {
   width: 32px;
   height: 32px;
   justify-content: center;
    align-items: center;
    display: flex;
}

.helparea a {
   text-decoration: none;
   cursor: pointer;
}

.helparea img:hover {
   width: 32px;
   height: 32px;
}

.addNewContactButton {
   background-color: rgba(42, 54, 71, 1);
   border: 1px rgba(42, 54, 71, 1) ;
   color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   width: 352px;
   height: 56px;
   padding:12px 16px;
   font-size: 21px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   position: sticky;
   top: 0px
}

nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 232px;
   background-color: rgba(42, 54, 71, 1);
   padding: 64px 0 64px 0;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
   z-index: 3;
}

.mainLinks {
   display: flex;
   flex-direction: column;
   height: 229px;
   gap: 15px;
   width: 100%;
   align-items: center;
}

.mainLinks a {
   height: 46px;
   gap: 20px;
   font-size: 16px;
   font-weight: 400;
   color: rgba(205, 205, 205, 1);
   align-items: center;
   display: flex;
   width: 232px;
   justify-content: flex-start;
   border-radius: 8px;
}

.mainLinks img {
   padding-left: 56px;
}

.mainLinks a:hover,
.adviceLinks a:hover {
   background-color: rgba(9, 25, 49, 1);
   ;
}

.adviceLinks {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 317px;
   width: 100%;
   gap: 8px;
}

.adviceLinks a {
   color: rgba(168, 168, 168, 1);
   font-size: 16px;
   font-weight: 400;
   padding-left: 52px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.workingArea {
   margin-top: 96px;
   display: flex;
   flex-direction: column;
}