body {
   display: flex;
   flex-direction: row;
   overflow: hidden;
   margin: auto;
   height: 100vh;
   max-height: 1024px;
   max-width: 1440px;
   background-color: rgba(246, 247, 248, 1);

}

a {
   color: white;
   text-decoration: none;
}

.displayNone {
   display: none;
}

.overflowHidden {
   overflow: hidden;
}

/*
******right floating detailed contact******
*/

.rightSide {
   display: flex;
   flex-direction: column;
   width: 569px;
   position: fixed;
   top: 64px;
   margin-left: 511px;
   align-items: center;

}

.heading {
   display: flex;
   align-items: center;
   gap: 16px;
   height: 73px;
   margin-top: 110px;
   margin-left: 55px;
}

.heading h1 {
   margin: 0;
   margin-block: 0;
   font-size: 61px;
   font-weight: 700;
}

.heading div {
   border-right: 3px solid rgba(41, 171, 226, 1);
   height: 59px;
}

.heading span {
   font-size: 27px;
   font-weight: 400;
   height: 32px;
   width: 235px;
}

/*
******contact details******
*/

.contactDetail {
   width: 461px;
   height: 364px;
   gap: 21px;
}

.name {
   display: flex;
   flex-direction: row;
   width: 461px;
   height: 120px;
   gap: 54px;
}

.name span {
   height: 120px;
   width: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Inter;
   font-size: 47px;
   font-weight: 500;
   color: rgba(255, 255, 255, 1);
   border-radius: 70px;
}

.fullName {
   display: flex;
   flex-direction: column;
   margin-left: 16px;
}

/*
******contactbook area******
*/

.workingArea {
   margin-top: 96px;
   display: flex;
   flex-direction: column;
   width: 456px; /* Figma */
}

.contactBook {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* width: 400px; */
   height: 928px;
   background-color: rgba(255, 255, 255, 1);
   padding: 32px 24px;
   overflow-y: scroll;
   overflow-x: hidden;
}

.contactsOverview {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding: 0 36px;
   /* width: 100%; */
}

.groupLetter {
   width: 352px;
   height: 58px;
   padding: 0 36px;
   gap: 8px;
   display: flex;
   align-items: center;
}

.groupLetter span {
   font-size: 20px;
   font-family: Inter;
   font-weight: 400;
   width: 14px;
   height: 24px;
}

.breakingLine {
   border-bottom: 1px solid rgba(209, 209, 209, 1);
   width: 352px;
}

.contact {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: -webkit-fill-available;
   padding: 15px 36px; /* statt 24 */
   gap: 35px;
   border-radius: 10px;
}

.contact:hover {
   background-color: rgba(42, 54, 71, 1);
   color: rgba(255, 255, 255, 1);
   cursor: pointer;
}

.monogrammicon {
   min-width: 42px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 2px solid rgba(255, 255, 255, 1);
   color: rgba(255, 255, 255, 1);
}

.nameAndMail {
   display: flex;
   flex-direction: column;
}

.nameOverviev {
   height: 24px;
   font-size: 20px;
   font-family: Inter;
   font-weight: 400;
}

.mailOverview {
   height: 19px;
   font-size: 16px;
   font-family: Inter;
   font-weight: 400;
   color: rgba(0, 124, 238, 1);
   overflow: hidden;
   text-overflow: ellipsis;
   /* max-width: 260px; */
}


.addNewContactButton {
   background-color: rgba(42, 54, 71, 1);
   border: 1px rgba(42, 54, 71, 1);
   color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   width: 352px;
   height: 56px;
   padding: 12px 16px;
   font-size: 21px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   position: sticky;
   top: 0px
}

.addNewContactButton:hover {
   cursor: pointer
}

/*
******header******
*/


header {
   position: absolute;
   top: 0;
   display: flex;
   width: 100%;
   max-width: 1440px;
   height: 96px;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
   background-color: rgba(255, 255, 255, 1);
   ;
}

header span {
   padding-left: 348px;
   font-size: 20px;
   font-weight: 400;
}

.headerHelpUser {
   display: flex;
   padding-right: 40px;
}

.helparea {
   width: 32px;
   height: 32px;
   justify-content: center;
   align-items: center;
   display: flex;
}

.helparea a {
   text-decoration: none;
   cursor: pointer;
}

.helparea img:hover {
   width: 32px;
   height: 32px;
}

/*
*******Navbar - left side******
*/

nav {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 232px;
   background-color: rgba(42, 54, 71, 1);
   padding: 64px 0 64px 0;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
   z-index: 3;

}

.mainLinks {
   display: flex;
   flex-direction: column;
   height: 229px;
   gap: 15px;
   width: 100%;
   align-items: center;
}

.mainLinks a {
   height: 46px;
   gap: 20px;
   font-size: 16px;
   font-weight: 400;
   color: rgba(205, 205, 205, 1);
   align-items: center;
   display: flex;
   width: 232px;
   justify-content: flex-start;
   border-radius: 8px;
}

.mainLinks img {
   padding-left: 56px;
}

.mainLinks a:hover,
.adviceLinks a:hover {
   background-color: rgba(9, 25, 49, 1);
   ;
}

.adviceLinks {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 317px;
   width: 100%;
   gap: 8px;
}

.adviceLinks a {
   color: rgba(168, 168, 168, 1);
   font-size: 16px;
   font-weight: 400;
   padding-left: 52px;
   height: 35px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

/*
******dialog window general******
*/

.displayFlex {
   display: flex;
}

.dialogBackground {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 500;
   
  

}

@keyframes slideIn {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes slideOut {
  0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(110%);
   }
}


/*
******dialog window add contact******
*/

.addContact {
   margin: auto;
   display: flex;
   align-items: center;
   width: 1212px;
   height: 592px;
   border-radius: 30px;
   background-color: rgba(255, 255, 255, 1);
   transform: translateX(100%)
}





/*
******left side logo container******
*/

.addContactLogoContainer {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 66px 48px;
   width: 467px;
   height: 594px;
   background-color: rgba(42, 54, 71, 1);
   border-radius: 30px 0 0 30px;
   color: rgba(255, 255, 255, 1);
}

.addContactLogoContainer>div {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.contactLogo {
   width: 55.6px;
   height: 66.48px;
}

.addContactLogoContainer h1 {
   font-size: 61px;
   font-weight: 700;
   font-family: Inter;
   margin: 0;
}

.addContactLogoContainer span {
   font-family: Inter;
   font-size: 27px;
   font-weight: 400;
}

.vector5 {
   width: 90px;
   border-bottom: 3px solid rgba(41, 171, 226, 1);
}

/*
******right side inout container******
*/

.addContactInputContainer {
   display: flex;
   flex: 1;
   justify-content: space-around;
   align-items: center;
   padding: 0 48px 66px 48px;
}

.emptyMonogram {
   display: flex;
   justify-content: center;
   align-items: center;

}

.emptyMonogram>img {
   width: 120px;
   height: 120px;
}

.addContactInputContainer2 {
   width: 422px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 56px;

}

form {
   gap: 32px;
}

.close {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 32px;
   height: 32px;
   border-radius: 56px;
}

.close:hover {
   cursor: pointer;
   background-color: rgba(217, 217, 217, 1);
}

.close>img {
   width: 13px;
   height: 13px;
}

/*
******buttons******
*/

.buttons {
   display: flex;
   width: 364px;
   height: 57px;
   gap: 24px;
   padding-top: 16px;
}

.cancelButton {
   box-sizing: border-box;
   display: flex;
   width: 126px;
   height: 56px;
   border-radius: 10px;
   border: 1px solid black;
   padding: 16px;
   gap: 4px;
   justify-content: center;
   align-items: center;
}

.cancelButton:hover {
   cursor: pointer;
   border: 2px solid rgba(41, 171, 266, 1);
   color: rgba(41, 171, 226, 1);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cancelButton:focus {
   border: px solid rgba(9, 25, 49, 1);
   color: rgba(9, 25, 49, 1);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.cancelButton:hover .cancelSVGContainer {
   background: url('/assets/img/desktop/close_blue.svg');
   background-size: 10px 10px;
   background-repeat: no-repeat;
   background-position: center;
}


.cancelButton>span {
   width: 66px;
   height: 24px;
   font-family: Inter;
   font-size: 20px;
   font-weight: 400;
}

.cancelSVGContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   background: url('/assets/img/desktop/close.svg');
   background-size: 10px 10px;
   background-repeat: no-repeat;
   background-position: center;
}

.createContactButton {
   box-sizing: border-box;
   display: flex;
   width: 214px;
   height: 57px;
   border-radius: 10px;
   padding: 16px;
   gap: 4px;
   justify-content: center;
   align-items: center;
   background-color: rgba(42, 54, 71, 1);
   color: rgba(255, 255, 255, 1);
   border: none;
}

.createContactButton:hover {
   cursor: pointer;
   background-color: rgba(41, 171, 226, 1);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.createContactButton:focus {
   background-color: rgba(9, 25, 49, 1);
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.createContactButton>span {
   font-family: Inter;
   font-weight: 700;
   font-size: 21px;
}

.checkSVGContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   background: url('/assets/img/desktop/check.svg');
   background-size: 15px 11px;
   background-repeat: no-repeat;
   background-position: center;
}










form {
   display: flex;
   flex-direction: column;
}