.darkbutton,
.whitebutton {
    border: unset;
    height: 48px;       /* vieleicht weglassen */
    padding-left: 24px; /* eventuell auto/15px 24px */
    padding-right: 24px; /* eventuell auto/15px 24px */
    gap: 10px;
    border-radius: 8px;
    background-color: rgba(42, 54, 71, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    display: flex; 
    justify-content: center;
    align-items: center;  
    white-space: nowrap;  
    transition: ease-in-out 100ms;
    box-sizing: border-box;
}


.darkbutton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(41, 171, 226, 1);
    box-sizing: border-box;
}

.darkbutton:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(9, 25, 49, 1);
}

.whitebutton {
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(42, 54, 71, 1);
    font-weight: 400;
}

.whitebutton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
    animation-timing-function: ease-in-out;
    animation-duration: 100ms;
    box-sizing: border-box;
    margin: -1px;

}


.whitebutton:active {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(9, 25, 49, 1);
    background-color: rgba(9, 25, 49, 1);
}
