.mbc {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0px; 
    background: rgba(246, 247, 248, 1);
    height: calc(100% - 100px);
} 

.mbc>.mbh {
    display: flex; 
    flex-direction:column;   
    height: 232px;
}

.mbc>.mbh>div:nth-child(odd) {
    min-height: 24px;
    display:flex;
    padding: 0px 64px;   
    gap: 24px;


}
.mbc>.mbh>div:nth-child(2)  {
    flex:1;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 64px;
    gap: 26px;
}

.mbc .board {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    display: flex;
    align-items: center;
}

.mbc .buttons {
    display: flex;
    gap: 32px;
    height: 48px;
}

.mbc .find-button {
    box-sizing: border-box;
    display: flex;

    width: 312px;
    height: 48px;
    padding: 8px 16px;
    gap: 10px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
}
.mbc .find-button>input  {
    outline: none;
    width: 100%;
    display: flex;
    border: 0px;
}

.mbc .submit-button {
    box-sizing: border-box;;
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    padding: 8px 16px 8px 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px;
    background-color: rgba(42, 54, 71, 1);
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
}
.mbc .submit-button>* {
}

.mbc .submit-button>img {
    height: 48px;
    object-fit: contain;

}

/*
    Todo Headline
*/
.mbc .todo {

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: left;
    height: 24px;
    line-height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    width:244px;
    min-width: 244px;
    margin-bottom: 15.5px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;    

}

.mbc .todo>* {
    display: flex;
    align-items: center;
}

.btn-add {
    box-sizing: border-box;
    border-radius:8px;
    height: 24px;
    width: 24px;
    border: 2px solid rgba(42, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.btn-add>img {
    justify-content: center;
    height: 8px;
    width: 8px;
    color: rgba(42, 54, 71, 1);
    filter:brightness(0.5); /**/
   
}

/*
    Todo-Comtainer
*/

.mbb {
    padding: 0 64px;
    display: flex;
    flex-direction: row;

    gap: 24px;
    
    overflow-y:auto; /* hidden */
    height:100%;
    background-color: blue;
    /* flex-grow:1; */

}
.mbb>div  {
    /* background-color: aqua; */
    /* height: fit-content;*/
    /* display: flex; */
    /* flex-direction:column; */
    /* flex-grow:1; */
    /* flex-basis: fit-content;*/
    /* min-height: 100%; */
}



.mbb .containers {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border: 0px solid gray;
    background-color: yellow;
    width: 252px;
    min-height: 100%; /*inherit-height; /* 100%; */
    flex-grow:1;
    margin: 0px;
    padding:0px;
    /* overflow-y: auto; */
   

}

.mbb .containers::before {
    box-sizing: border-box;
    position: relative;
    width:252px;
    height: 48px;
    transform: translate(0, 0);
    content: "No tasks To do";
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgba(168, 168, 168, 1);
    border: 1px dashed rgba(168, 168, 168, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    background-color: rgba(0, 0, 0, 0.16);
    margin-bottom:-48px;
}


.board-wrapper {
    width: 100%;
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

/*
    Cards
*/

.mbb .card {
    width: 252px;
    padding: 16px;
    gap: 10px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 1);
    z-index:1;
}


.mbb .card>h1 {
    display: flex;
    width:fit-content;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 8px;    
    
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 56, 255, 1);
    margin-block:0px;

}

.mbb .user-story>h1 {
    background: rgba(0, 56, 255, 1);
}
.mbb .user-story>h1 {
    content: "User Story";
}

.mbb .technical-task>h1 {
    background: rgba(31, 215, 193, 1);
}
.mbb .technical-task>h1:before {
    content: 'Technical Task';
}

.mbb-text {
    display: flex;
    flex-direction:column;
    gap: 10px;
    border-radius: 10px;    
}

.mbb-text>h1 {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;    
    color: rgba(42, 54, 71, 1);
    height: 38px;
}
.mbb-text span {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    height: 38px;
    color: rgba(168, 168, 168, 1);
}
.mbb .progress {
    display: flex;
    flex-direction: row;   
    align-items:center; 
    height: 16px;
}

.mbb .progress-bar::before {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 128px;
    height: 8px;
    top: 4px;
    padding: 0px 64px 0px 0px;
    gap: 10px;
    border-radius: 8px;
    background: rgba(244, 244, 244, 1);
}
/*
    style 128/parts
*/
.mbb .progress-bar {
    background: rgba(69, 137, 255, 1);
    width: 64px;
    height: 8px;
    border-radius: 16px 0px 0px 0px;
}



Xp:last-of-type {
    flex:1;
    margin-bottom: 500px;
    overflow: hidden;
}

.d-none {
    display: none;
}

.register {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}
