

body {
    background-color: #b6b6b6;
    margin: 0 auto;
}

.containers {
    border: 1px solid gray;
    background-color: yellow;
    padding: 20px;
    width: 200px;
    height: 250px;
}

.board-wrapper {
    width: 100%;
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

p{
    background-color: red;
    padding: 20px;
}

.d-none {
    display: none;
}

.register {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}