@media screen and (max-height:1050px) {
    @keyframes logo-position {
        0% {
        }
        100% {
            opacity: 1;
            transform:none;
            width: 68px; /* calc(274px / 4); */
            height: 83px; /* calc(334px / 4); */
            left: 20px;
            top: 20px;
        }
    }
}

@media screen and (max-height:800px) {
    .login-master>div:nth-child(1) {
        height: 20px;
    }

    .login-master>div:nth-child(3) {
        padding-bottom: 8px;
        height: 40px;
        align-items: flex-start;
    }
    .login-headline>span {
        font-size: 32px;
        line-height: 40px;
    } 
    .login-headline>div {
        width: 100px;
    } 
}  


@media screen and (max-width:450px) {
    .signup-small {
        display: flex;
    }
    .login-master>div>div {
        visibility: hidden !important;
    }
}

@media screen and (max-width:375px) {
    .login-headline-before {
        margin-left: 0px;
    }
}
