input:invalid {
    outline: 1px solid red;
    background-color: rgba(255,0,0,0.3);
}

input[type=password],
input[type=email],
input[type=text]
 {
    border:0;
    outline: 1px solid grey;
}

.msg-red {
    font-size:11px;
    color: red;
}  
/*
==================================================================
*/
body {
    margin:0;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 247, 248, 1);
    height: 100%;
}


.logo-position {
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-name: logo-position; 
    animation-fill-mode: forwards; 
}

.logo-container {
    margin:0;
    height: 100vh;
    /* width: 100vw; */
    box-sizing: border-box;
}

@keyframes logo-position {
    0% {
    }
    100% {
        transform: 
            translate(calc(-50vw + 77px) ,calc(-50vh + 80px));
        opacity: 1;
        width: 100.03px;
        height: 121.97px;
    }
}

.main-logo {
    width: 274px;
    height: 334.07px;
    opacity: 1;
    z-index: 5;
}




.dawn {
    animation-delay: 00ms;
    animation-timing-function: ease-in-out;
    animation-duration: 2100ms;
    animation-name: dawn;    
    animation-fill-mode: forwards; 
}

@keyframes dawn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/*
---------------------------------------------------------
*/
.relative {
    position:relative;
    display: flex; 
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content:center;
    
}

.absolute {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:center;
}

.login-card {
    width: 652px;
    height: 493px;
    max-width: calc(100% - 32px); /* Siehe Handy ansicht 32px? */
    padding: 48px 115px 48px 115px;
    gap: 32px;
    border-radius: 30px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);

    opacity:0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.login-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 48px 115px 48px 115px; */
    gap: 16px;
    border-radius: 30px;
    opacity: 0px;
}


.login-headline>div {
    width: 150px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 3px;
}
.login-headline>span {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
.login-card .input-area {
    gap:20px;
    width: 422px;
    max-width: calc(100% - 16px);
    display:flex;
    flex-direction: column;
}

.login-card .input-area>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: unset;
    /* outline: 1px solid rgba(0,222,0,0.3); */
    gap: 8px;
    box-sizing: border-box;
}

/* .input-field-content */
.input-field-container>div:first-of-type {
    display: flex; 
    flex:1;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    border-radius: 10px;
    border: 1px;
    border: 1px solid rgba(209, 209, 209, 1);
    background: rgba(255, 255, 255, 1);   
}

.input-field-container>div:first-of-type>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 100%;
    gap: 0;
} 

.input-field-container>div:first-of-type>div>a {
    height:24px;
    object-fit:contain;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: flex; 
    justify-content: center;
    align-items: center;
} 

.input-field-container>div:first-of-type input {
    outline: unset;
    border: unset;
    padding:0px;
    margin:0px;
    flex:1;
}

.input-field-container>span:last-of-type {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
    color: red;
    margin-left: 0px;
}



.login-card>.input-area>.remember {
    height: 24px;
    margin-left: 39px;
    gap: 8px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;    
}

.login-card>.input-area>.remember span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
}


/*
.login-card>.input-area>.remember input[type=checkbox] {
    align-items: center;
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 3px;
    border: 2px solid rgba(42, 54, 71, 1);
}
*/
.checkbox-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    appearance: none; /* Entfernt das Standarddesign */
    width: 24px;
    height: 24px;
    min-width: 24px;
    padding: 4px;
    border-radius: 3px;
    border: 3px solid rgba(42, 54, 71, 1);
    background-color: white;    
    cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: rgba(42, 54, 71, 1); /* Hintergrundfarbe beim Aktivieren */
    background-color: white;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: "✓"; /* Benutzerdefiniertes Häkchen-Symbol */
    color: white;
    color:black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: 
        scale(2)
        translate(2px,-3px);    
}