.relative {
    position:relative;
    border: 1px solid blue;
}

.absolute {
    position: absolute;
}

a,input,button {
    cursor:pointer;
}

.flex-column {
    display: flex;
    flex-direction:column;
}

a {
    text-decoration: none;
}

.fs16 {
    font-size: 16px !important;
}