.relative {
    position:relative;
}

.absolute {
    position: absolute;
}

a,input,button {
    cursor:pointer;
}

.flex-column {
    display: flex;
    flex-direction:column;
}
.flex-row {
    display: flex;
    flex-direction:row;
}

a {
    text-decoration: none;
}

.fs16 {
    font-size: 16px !important;
}

.top-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.gap16 {
    gap:16px;
}
.gap8 {
    gap:8px;
}
.invert {
    filter:invert();
}
.h32 {
    height:32px;
}
.h48 {
    height:48px;
}
.mb32 {
    margin-bottom: 32px;
}
.circle-monogram {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    border: 2px solid white;
    color:white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    height:42px;
    width: 42px;
    min-height: 42px;
    min-width:42px;   
}
.d-none {
    display: none !important;
}

.h-line24 {
    border: 1px solid rgba(209,209,209,1);
    min-height:24px;
}