.touch-container {
    position:absolute;
    top:0;
    left:0;
    z-index:6;
    cursor: pointer;
    height: auto;
    margin:0;
    padding:0;
    overflow:visible;
    z-index: 2;
}
.touch-overflow {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    background-color:blue;
}